.cards{
    margin: 2em;
    background-color: #a6c0db;
    padding: 20px;
    width:10cm;
    section{
        background-color: khaki;
        padding:20px;

    }
    #no-task{
        color: green;
    }

}